body {
  font-family: Arial, sans-serif;
}

.container{
  position: fixed;
  top: 60px;
  left: 0;
  padding: 20px;
  font-family: Arial, sans-serif;
  overflow-y: scroll;
  width: calc(100% - 40px);
  height: calc(100% - 180px);
}

.review-section {
  /*padding: 20px;*/
  padding-top: 20px;
  max-width: 600px;
  margin: auto;
}

h2, h3 {
  margin: 10px 0;
}

form {
  margin: 20px 0;
}

input[type="number"], textarea {
  margin: 10px 0;
  width: calc(100% - 20px);
  padding: 8px;
}

button {
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

@media (max-width: 600px) {
  #map {
      height: 300px;
  }
}
