body {
  font-family: Arial, sans-serif;
}

.container{
  position: fixed;
  top: 60px;
  left: 0;
  padding: 20px;
  font-family: Arial, sans-serif;
  overflow-y: scroll;
  width: calc(100% - 40px);
  height: calc(100% - 180px);
}

.search-section {
  max-width: 600px;
  margin: auto;
}

form {
  margin: 20px 0;
}

input {
  margin: 10px 0;
  width: calc(100% - 20px);
  padding: 8px;
  border-radius: 10px;
  border: solid 1px black;
}

.searchInput{
  width: calc(100% - 90px);
  margin-right: 10px;
}

.review-section {
  max-width: 600px;
  margin: auto;
}

h2, h3 {
  margin: 10px 0;
}

/*
input[type="number"], textarea {
  margin: 10px 0;
  width: calc(100% - 20px);
  padding: 8px;
  border-radius: 10px;
}
*/

.button_div{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

button {
  padding: 10px 15px;
  background-color: #6c63ff;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  width: 60px;
}

button:hover {
  background-color: #6c63ff;
}

@media (max-width: 600px) {
  #map {
      height: 300px;
  }
}
